* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: rgb(149, 243, 223);
  width: 1200px;
  height: 550px;
}

.main {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.todo {
  width: 800px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  opacity: 0, 9;
  margin-bottom: 2em;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.todo {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-column-gap: 5px;
}

.textIn {
  height: 2em;
  text-align: center;
}

.title {
  font-size: 45px;
  color: rgb(5, 126, 207);
  padding-bottom: 30px;
}
